<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="stylesheet" th:href="@{/styles/global.css}" />
    <link rel="stylesheet" th:href="@{/styles/home.css}" />
</head>
<body>
    <div class="background-image"></div>
    <nav>
        <a class="nav-option-container" th:href="@{/app/home}">
            <img th:src="@{/assets/home-icon.png}" alt="">
            <p>HOME</p>
        </a>
        <a class="nav-option-container">
            <img th:src="@{/assets/order-icon.png}" alt="">
            <p>ORDERS</p>
        </a>
        <a class="nav-option-container">
            <img th:src="@{/assets/inventory-icon.png}" alt="">
            <p>INVENTORY</p>
        </a>
        <a class="nav-option-container">
            <img th:src="@{/assets/employee-icon.png}" alt="">
            <p>EMPLOYEES</p>
        </a>
        <a class="nav-option-container top-margin" th:href="@{/logout}">
            <img th:src="@{/assets/sign-out-icon.png}" alt="">
            <p>SIGN OUT</p>
        </a>
    </nav>

    <main>
        <div class="content-area">
            <div class="greeting-section">
                <div>
                    <p>Hello,</p>
                    <h3>name-placeholder</h3>
                </div>
                <div class="date-info-container">
                    <p>day-placeholder</p>
                    <p>date-time-placeholder</p>
                </div>
            </div>
            <div class="nl-alert">
                <div class="nl-alert-info-container">
                    <div class="nl-alert-info">
                        <h3>Oh noes!</h3>
                        <p>Looks like you're not part of a laundromat yet, some features may be disabled.</p>
                    </div>
                    <img class="shake-lr-normal" th:src="@{/assets/exclamation-icon.png}" alt="" draggable="false">
                </div>
                <div class="nl-alert-options">
                    <form>
                        <p>Create a new laundromat</p>
                        <button>Create</button>
                    </form>
                    <div class="v-line"></div>
                    <form>
                        <p>Join an existing laundromat</p>
                        <label>
                            <input type="text" placeholder="Invite Code">
                        </label>
                        <button>Join</button>
                    </form>
                </div>
            </div>
        </div>
        <aside>
            <div class="order-header">
                <h3>Order Details</h3>
                <p>#000000</p>
            </div>
            <form>
                <label class="text-field-area">Customer Name
                    <input type="text">
                </label>
                <label class="text-field-area">Customer Contact
                    <input type="text">
                </label>
                <div class="h-line"></div>
                <div class="submit-options">
                    <button type="submit">Place Order</button>
                    <a href="/app/home">Clear Order</a>
                </div>
            </form>
            <div class="feature-lock"></div>
        </aside>
    </main>
</body>
</html>