<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=
    </a>device-width, initial-scale=1.0" />
    <title></title>
    <link rel="stylesheet" th:href="@{/styles/global.css}" />
    <link rel="stylesheet" th:href="@{/styles/employees.css}" />
    <link rel="stylesheet" th:href="@{/styles/inventory.css}" />
</head>

<body>
<div class="background-image"></div>
<nav>
    <a class="nav-option-container" th:href="@{/app/home}">
        <img th:src="@{/assets/home-icon.png}" alt="">
        <p>HOME</p>
    </a>
    <div class="nav-option-wrapper">
        <a class="nav-option-container" th:href="@{/app/orders}">
            <img th:src="@{/assets/order-icon.png}" alt="">
            <p>ORDERS</p>
        </a>
        <div th:if="${!laundromatDetails.inLaundromat}" class="feature-lock"></div>
    </div>
    <div class="nav-option-wrapper">
        <a class="nav-option-container" th:href="@{/app/inventory}">
            <img th:src="@{/assets/inventory-icon.png}" alt="">
            <p>INVENTORY</p>
        </a>
        <div th:if="${!laundromatDetails.inLaundromat}" class="feature-lock"></div>
    </div>
    <div class="nav-option-wrapper">
        <a href="/app/employees" class="nav-option-container" th:href="@{/app/employees}">
            <img th:src="@{/assets/employee-icon.png}" alt="">
            <p>EMPLOYEES</p>
        </a>
        <div th:if="${!laundromatDetails.inLaundromat}" class="feature-lock"></div>
    </div>
    <a class="nav-option-container top-margin" th:href="@{/logout}">
        <img th:src="@{/assets/sign-out-icon.png}" alt="">
        <p>SIGN OUT</p>
    </a>
</nav>

<main>
    <div class="header-card default-card" th:if="${laundromatDetails.isLaundromatCreator}">
        <div>
            <p style="font-size: 1.2rem">Add Product</p>
        </div>
        <form class="right-header-section" method="post" th:action="@{/app/inventory/add}" style="align-items: center; padding-right: 0;">
            <div>
                <label style="font-size: 0.9rem">Product Name
                    <input type="text" name="productName">
                </label>
                <label style="font-size: 0.9rem">Initial Quantity
                    <input type="number" name="quantity" th:default="${0}" id="initialQuantityInput">
                </label>
            </div>
            <button type="submit"><img th:src="@{/assets/add-icon.png}" alt="" draggable="false"></button>
        </form>
    </div>
    <div class="employee-panel default-card">
        <h3>Inventory</h3>
        <div class="employee-container" style="position: relative">
            <div th:if="${products.isEmpty()}" class="not-found-hint">
                <img th:src="@{/assets/search-icon.png}" alt="" draggable="false">
                <p>No Products found</p>
            </div>
            <div class="employee-card" th:each="product: ${products}">
                <div class="employee-card-left-section" style="height: 60px">
                    <h2 th:text="${product.quantity + ' • '}" style="padding-left: 5px"></h2>
                    <div>
                        <p th:text="${product.name}"></p>
                    </div>
                </div>
                <div style="display: flex" class="button-section">
                    <form th:action="@{/app/inventory/increment}" method="post">
                        <input type="hidden" th:value="${product.id}" name="productId">
                        <button type="submit"><img th:src="@{/assets/add-icon.png}" alt="" draggable="false"></button>
                    </form>
                    <form th:action="@{/app/inventory/decrement}" method="post">
                        <input type="hidden" th:value="${product.id}" name="productId">
                        <button type="submit" style="background-color: #E29A5B;">
                            <img th:src="@{/assets/minus-icon.png}" alt="" draggable="false">
                        </button>
                    </form>
                    <form th:action="@{/app/inventory/editQuantity}" method="post">
                        <input type="hidden" th:value="${product.id}" name="productId">
                        <label>
                            <input type="number" name="quantity" class="number-input" placeholder="#">
                        </label>
                    </form>
                    <form th:action="@{/app/inventory/remove}" method="post" th:if="${laundromatDetails.isLaundromatCreator}">
                        <input type="hidden" th:value="${product.id}" name="productId">
                        <button type="submit" style="background-color: #d04141;">
                            <img th:src="@{/assets/close-icon.png}" alt="" draggable="false">
                        </button>
                    </form>
                </div>
<!--                <form th:if="${laundromatDetails.laundromatCreator && laundromatDetails.laundromatCreatorEmail != employee.email}" class="employee-card-right-section" th:action="@{/app/laundromat/remove-employee}" method="post">-->
<!--                    <input type="hidden" name="employeeEmail" th:value="${employee.email}">-->
<!--                    <button type="submit"><img th:src="@{/assets/remove-icon2.png}" alt="" draggable="false"></button>-->
<!--                </form>-->
            </div>
        </div>
    </div>
</main>

</body>

<script>
    function setDefaultQuantity(event) {
        const quantityInput = document.getElementById('initialQuantityInput');
        if (quantityInput.value === '') {
            quantityInput.value = '0';
        }
    }
</script>

</html>