<!DOCTYPE html> 
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>F1+X: Laundry System</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" th:href="@{/styles/inventory.css}"/>
</head>

<body>
    <!--Navbar-->
    <header>
       <img class="Logo" onclick="window.location.href='/app/home';" th:src="@{/assets/logo.png}" alt="Logo">
        <nav>
            <ul class="sidebar">
                <li><a href="/app/home"><img th:src="@{/assets/homeButton.png}" alt="Home"></a></li>
                <li><a href="/app/order"><img th:src="@{/assets/orderButton.png}" alt="Order"></a></li>
                <li><a href="/app/inventory"><img th:src="@{/assets/inventoryButton.png}" alt="Inventory"></a></li>
                <li><a href="/app/employee"><img th:src="@{/assets/employeesButton.png}" alt="Employee"></a></li>

                <li class="spaced-top"><a href="/login"><img th:src="@{/assets/accountButton.png}" alt="Account"></a></li>
                <li><a href="/app/logout"><img th:src="@{/assets/logoutButton.png}" alt="Logout"></a></li>
        </ul>
       </nav>
    </header>

    <div class="main-content">
        <div class="title-header">
            <h1>INVENTORY</h1>
        </div>

        <div class="nav-tools">
            <input type="text" id="search-bar" placeholder="Search by product name..." oninput="filterProducts()">
            <select id="sort-by" onchange="sortProducts()">
                <option value="name">Sort by Name</option>
                <option value="status">Sort by Status</option>
            </select>
            <div class="pagination">
                <button id="prev-button" onclick="changePage(-1)">&#60;</button>
                <button id="next-button" onclick="changePage(1)">&#62;</button>
            </div>
        </div>
        
        <div class="product-container">
            <div class="product-card">
            </div>
        </div>
        
</form>

        <!-- Navigation Buttons -->

    </div>
    <script th:src="@{/scripts/inventory.js}"></script>
</body>

</html>