<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="stylesheet" th:href="@{/styles/global.css}" />
</head>
<body>
<div class="background-image"></div>
<nav>
    <a class="nav-option-container" th:href="@{/app/home}">
        <img th:src="@{/assets/home-icon.png}" alt="">
        <p>HOME</p>
    </a>
    <div class="nav-option-wrapper">
        <a class="nav-option-container" th:href="@{/app/home}">
            <img th:src="@{/assets/order-icon.png}" alt="">
            <p>ORDERS</p>
        </a>
        <div th:if="${!userDetails.inLaundromat}" class="feature-lock"></div>
    </div>
    <div class="nav-option-wrapper">
        <a class="nav-option-container">
            <img th:src="@{/assets/inventory-icon.png}" alt="">
            <p>INVENTORY</p>
        </a>
        <div th:if="${!userDetails.inLaundromat}" class="feature-lock"></div>
    </div>
    <div class="nav-option-wrapper">
        <a href="/app/employees" class="nav-option-container">
            <img th:src="@{/assets/employee-icon.png}" alt="">
            <p>EMPLOYEES</p>
        </a>
        <div th:if="${!userDetails.inLaundromat}" class="feature-lock"></div>
    </div>
    <a class="nav-option-container top-margin" th:href="@{/logout}">
        <img th:src="@{/assets/sign-out-icon.png}" alt="">
        <p>SIGN OUT</p>
    </a>
</nav>

</body>
</html>