<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="EN">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    <link rel="stylesheet" th:href="@{styles/register-style.css}" />
</head>

<body>
<!-- Main Content -->
<div class="main-content">
    <div class="register-title-header">
        <h1>F1+X</h1>
    </div>
    <div class="register-wrapper">
        <div class="register-container">
            <h2>REGISTER</h2>
            <div th:if="${success}" class="alert" role="alert">
                <strong>Account Created Successfully</strong>
                <a class="login-label" href="/login">Login</a>
            </div>
            <form action="#" method="post" th:object="${userRegisterRequest}">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <div class="input-group">
                    <i class="fas fa-user input-icon"></i>
                    <label>
                        <input type="text" th:field="${userRegisterRequest.firstName}" placeholder="First Name" required />
                    </label>
                </div>
                <p th:if="${#fields.hasErrors('firstName')}" th:errorclass="text-danger" th:errors="${userRegisterRequest.firstName}"></p>
                <div class="input-group">
                    <i class="fas fa-user input-icon"></i>
                    <label>
                        <input type="text" th:field="${userRegisterRequest.lastName}" placeholder="Last Name" required />
                    </label>
                </div>
                <p th:if="${#fields.hasErrors('lastName')}" th:errorclass="text-danger" th:errors="${userRegisterRequest.lastName}"></p>
                <div class="input-group">
                    <i class="fas fa-envelope input-icon"></i>
                    <label>
                        <input type="email" th:field="${userRegisterRequest.email}" placeholder="Email Address" required />
                    </label>
                </div>
                <p th:if="${#fields.hasErrors('email')}" th:errorclass="text-danger" th:errors="${userRegisterRequest.email}"></p>
                <div class="input-group">
                    <i class="fas fa-lock input-icon"></i>
                    <label>
                        <input type="password" th:field="${userRegisterRequest.password}" placeholder="Password" required />
                    </label>
                </div>
                <p th:if="${#fields.hasErrors('password')}" th:errorclass="text-danger" th:errors="${userRegisterRequest.password}"></p>
                <div class="input-group">
                    <i class="fas fa-lock input-icon"></i>
                    <label>
                        <input type="password" th:field="${userRegisterRequest.confirmPassword}" placeholder="Confirm Password" required />
                    </label>
                </div>
                <p th:if="${#fields.hasErrors('confirmPassword')}" th:errorclass="text-danger" th:errors="${userRegisterRequest.confirmPassword}"></p>
                <button type="submit">REGISTER</button>
            </form>
            <a href="/">Already have an account? Login here</a>
        </div>
    </div>
</div>

</body>
</html>