<!DOCTYPE html>
<html lang="EN">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>F1+X: Register</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    <link rel="stylesheet" th:href="@{/styles/register.css}" />
</head>

<body>

    <!-- Main Content -->
    <div class="main-content">
        <div class="register-title-header">
            <h1>F1+X</h1>
        </div>
        <div class="register-wrapper">
            <div class="register-container">
                <h2>REGISTER</h2>
                <form action="#" method="post">
                    <div class="input-group">
                        <i class="fas fa-user input-icon"></i>
                        <input type="text" name="firtname" placeholder="First Name" required />
                    </div>
                    <div class="input-group">
                        <i class="fas fa-user input-icon"></i>
                        <input type="text" name="lastname" placeholder="Last Name" required />
                    </div>
                    <div class="input-group">
                        <i class="fas fa-envelope input-icon"></i>
                        <input type="email" name="email" placeholder="Email Address" required />
                    </div>
                    <div class="input-group">
                        <i class="fas fa-lock input-icon"></i>
                        <input type="password" name="password" placeholder="Password" required />
                    </div>
                    <div class="input-group">
                        <i class="fas fa-lock input-icon"></i>
                        <input type="password" name="confirm_password" placeholder="Confirm Password" required />
                    </div>
                    <button type="submit">REGISTER</button>
                </form>
                <a href="/login">Already have an account? Login here</a>
            </div>
        </div>
    </div>

</body>
</html>
