body {
    height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    overflow: hidden;
}

main {
    background-color: rgba(18, 18, 20, 0.7);
    padding: 40px 25px 25px 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 10px;
}

h1 {
    font-size: 3.5rem;
}

h3, p {
    font-family: Poppins-light, serif;
}

.name-field-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

label {
    display: flex;
    flex-direction: column;
    font-family: Poppins-light, serif;
    font-size: 0.85rem;
    flex-grow: 1;
    color: #ccc;
}

input {
    border: none;
    padding: 5px 8px;
    flex-grow: 1;
    font-family: Poppins-light, serif;
}

.error-hint {
    font-size: 0.8rem;
}

.submit-button {
    background-color: #059862;
    color: white;
    font-family: Poppins-medium, serif;
    font-size: 1rem;
    padding: 5px;
    border: none;
    margin-top: 10px;
}

.sign-in-hint {
    font-size: 0.85rem;
    margin-top: 8px;
}

.sign-in-hint > a {
    color: #4f9cf9;
    text-decoration: #4f9cf9 underline;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #048052;
}

.success-alert {
    margin-top: 10px;
    background-color: #059862;
    width: calc(100% - 30px);
    padding: 15px 15px 10px 15px;
    position: relative;
    transform-origin: top;
    transition: transform 0.4s ease;
    transition-delay: 0.3s;
    overflow: hidden;
    border: solid #fff;
    border-width: 2px 0 2px 0;
}

.success-alert > button {
    position: absolute;
    height: 24px;
    width: 24px;
    top: 10px;
    right: 10px;
    font-size: 1.3rem;
    color: #fff;
    border: none;
    background-color: transparent;
    border-radius: 50%;
}

.success-alert.fade-out {
    transform: scaleY(0);
}

.success-alert * {
    transition: opacity 0.25s ease;
    opacity: 1;
}

.success-alert.fade-out * {
    opacity: 0;
}

.success-alert > button:hover {
    background-color: #048052;
}

.success-alert > h3 {
    font-family: Poppins-medium, serif;
    font-weight: normal;
    font-size: 0.9rem;
}

.success-alert > p {
    font-family: Poppins-light, serif;
    font-size: 0.75rem;
}

.success-alert a {
    color: #fff;
    text-decoration: #fff underline;
    cursor: pointer;
    font-family: Poppins-medium, serif;
}

.bubbles > img {
    position: absolute;
    pointer-events: none;
    top: 50%;
    left: 50%;
}

@keyframes bubble1-anim {0% { transform: translate(20px, -40px); } 100% { transform: translate(20px, 0);} }
@keyframes bubble2-anim {0% { transform: translate(-550px, 140px); } 100% { transform: translate(-550px, 100px);} }
@keyframes bubble3-anim {0% { transform: translate(350px, -340px); } 100% { transform: translate(350px, -300px);} }
@keyframes bubble4-anim {0% { transform: translate(-750px, -400px); } 100% { transform: translate(-750px ,-440px);} }

.bubbles > img:nth-child(1) {
    animation: bubble1-anim 5s ease-in-out -1.7s infinite alternate none;
    height: 400px;
}

.bubbles > img:nth-child(2) {
    animation: bubble2-anim 5s ease-in-out -3.5s infinite alternate none;
    height: 250px;
}

.bubbles > img:nth-child(3) {
    animation: bubble3-anim 5s ease-in-out -3.5s infinite alternate none;
    height: 250px;
}

.bubbles > img:nth-child(4) {
    animation: bubble4-anim 5s ease-in-out 0s infinite alternate none;
    height: 350px;
}
