@font-face {
    font-family: Poppins-bold;
    src: url("../fonts/Poppins-Bold.ttf");
}

@font-face {
    font-family: Poppins-medium;
    src: url("../fonts/Poppins-Medium.ttf");
}

@font-face {
    font-family: Poppins-light;
    src: url("../fonts/Poppins-Light.ttf");
}

@font-face {
    font-family: Bungee-regular;
    src: url("../fonts/Bungee-Regular.ttf");
}

@font-face {
    font-family: Roboto-medium;
    src: url("../fonts/Roboto/Roboto-Medium.ttf");
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #283277;
}

h1, h2, h3, p, label, a {
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    cursor: default;
}

.background-image {
    position: fixed;
    display: block;
    height: 100svh;
    width: 100%;
    background-image: url("../assets/background-image.png");
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-user-drag: none;
    z-index: -1;
}

.logo {
    color: #fff;
    font-family: Bungee-regular, serif;
}

.error-hint {
    color: #e34040;
    font-family: Poppins-light, serif;
}

nav {
    display: flex;
    position: fixed;
    flex-direction: column;
    height: calc(100svh - 40px);
    padding: 20px 8px;
    background-color: #121214;
    gap: 8px;
    align-items: flex-start;
    box-shadow: 0 0 12px rgba(17, 17, 17, 0.8);
    top: 0;
    left: 0;
}

.nav-option-container {
    align-items: center;
    position: relative;
    border: solid 1px #1D1D1E;
    background-color: #1D1D1E;
    border-radius: 5px;
    width: 60px;
    height: 60px;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    text-align: center;
    transition: border 0.4s ease, background-color 0.4s ease;
}

.nav-option-container:hover {
    border: solid 1px #fff;
    background-color: #333;
    transition: 0s;
}

.nav-option-container > img {
    height: 35px;
    position: relative;
    top: -6px;
}

.nav-option-container > p {
    position: absolute;
    font-family: Roboto-medium, serif;
    font-size: 0.55rem;
    bottom: 6px;
    color: #fff;
}

.top-margin {
    margin-top: auto;
}

.default-card {
    padding: 20px 30px;
    background-color: #121214;
    border-radius: 10px;
    color: #fff;
    font-family: Poppins-light, serif;
    font-size: 1rem;
    box-shadow: 0 0 12px rgba(17, 17, 17, 0.8);
}

.feature-lock {
    display: block;
    position: absolute;
    background-color: rgba(18, 18, 20, 0.7);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    cursor: not-allowed;
}

.nav-option-wrapper {
    position: relative;
}

.error-field::placeholder {
    color: #be2e2e;
}
