main {
    display: flex;
}

.content-area {
    margin-left: 76px;
    flex-grow: 1;
    padding: 30px;
    overflow: auto;
    height: calc(100svh - 60px);
    display: flex;
    flex-direction: column;
}

aside {
    position: relative;
    height: calc(100svh - 40px);
    width: 33svw;
    min-width: 400px;
    padding: 40px 30px 0 30px;
    background-color: #121214;
    box-shadow: 0 0 12px rgba(17, 17, 17, 0.8);
    overflow: auto;
}

.order-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order-header > h3 {
    font-family: Poppins-medium, serif;
    font-size: 1.3rem;
    color: #fff;
}

.order-header > p {
    color: #aaa;
    font-family: Poppins-light, serif;
    font-size: 1rem;
}

aside > form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    color: white;
    font-family: Poppins-light, serif;
    font-size: 1rem;
    gap: 10px;
}

.text-field-area {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 0.9rem;
}

.text-field-area > input {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #1D1D1E;
    border: 1px solid #444;
    color: #fff;
}

.h-line {
    margin: 10px 0;
    background-color: #444;
    height: 1px;
}

.v-line {
    background-color: #444;
    height: 60px;
    width: 1px;
}

.footer {
    position: fixed;
    bottom: 0;
    right: 0 ;
    width: 33svw;
    min-width: 400px;
    border-top: 2.5px solid #222;
    padding: 20px 30px 20px 30px;
}

.total-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.total-section h3 {
    font-family: Poppins-medium, serif;
    font-size: 1.1rem;
}

.submit-options {
    display: flex;
    background-color: #121214;
    gap: 10px;
}

.submit-options > * {
    font-family: Poppins-medium, serif;
    color: #111;
    text-decoration: none;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    height: 40px;
    flex-grow: 1;
    display: grid;
    place-items: center;
    transition: background-color 0.2s ease;
}

.submit-options > *:hover {
    transition: 0s;
}

.submit-options button {
    background-color: #059862;
}

.submit-options button:hover {
    background-color: #048052;
}

.submit-options > a {
    background-color: #E29A5B;
}

.submit-options > a:hover {
    background-color: #D17F49;
}

.greeting-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.greeting-section h3, p {
    font-family: Poppins-medium, serif;
}

.greeting-section h3 {
    font-size: 1.2rem;
}

.greeting-section p {
    font-size: 1rem;
}

.greeting-section > .date-info-container {
    font-size: 0.8rem;
    text-align: end;
}

.nl-alert {
    margin-top: 20px;
}

.nl-alert-info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.nl-alert-info-container > img {
    height: 100%;
}

.nl-alert-info > h3 {
    font-family: Poppins-medium, serif;
    /*color: #D17F49;*/
}

.nl-alert-options {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    font-size: 0.9rem;
    color: #aaa;
    margin-top: 20px;
}

.nl-alert-options > form {
    flex-grow: 1;
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
}

.nl-alert-options label {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    text-align: center;
}

.nl-alert-options input {
    flex-grow: 1;
}

.nl-alert-options button {
    font-family: Poppins-medium, serif;
    background-color: #A8C7FA;
    border: none;
    border-radius: 5px;
    padding: 6px 20px;
    transition: background-color 0.4s ease;
    max-height: 55px;
}

.nl-alert-options button:hover {
    transition: 0s;
    background-color: #7589D1;
}

.nl-alert-options input {
    padding: 5px 20px;
    height: 100%;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #121214;
    color: #fff;
    font-family: Poppins-light, serif;
    flex-grow: 1;
}

.error-hint {
    font-size: 0.8rem;
}

.default-input {
    background-color: transparent;
    border: 1px solid #444;
    border-radius: 5px;
    color: #fff;
    padding: 5px 10px;
}

.service-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 5fr));
    /*grid-template-rows: auto;*/
    gap: 5px;
    align-items: center;
    justify-items: center;
    overflow: auto;
}

.service-card {
    position: relative;
    background-color: #222;
    border: 1px solid #444;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    transition: 0.4s ease;
}

.service-card:hover {
    background-color: #444;
    border-color: #aaa;
    transition: 0s;
}

.order-item-container {
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
}

.order-item-container > div {
    background-color: #222;
    border-radius: 10px;
    padding: 25px 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order-item-container .left-order-item-section {
    display: flex;
    align-items: center;
    gap: 10px;
}

.left-order-item-section > * {
    font-family: Poppins-medium, serif;
    font-size: 1rem;
}

@keyframes shake-lr-normal {0%, 25% { transform: rotate(0deg); transform-origin: 50% 50%; } 2.5% { transform: rotate(8deg); } 5%, 10%, 15% { transform: rotate(-10deg); } 7.5%, 12.5%, 17.5% { transform: rotate(10deg); } 20% { transform: rotate(-8deg); } 22.5% { transform: rotate(8deg);} }

.shake-lr-normal {
    animation: shake-lr-normal 4s ease 0s infinite normal none;
}

@media only screen and (max-width: 900px) {
    aside {
        display: none;
    }
}