main {
    display: flex;
    flex-direction: column;
    width: calc(100% - 136px);
    height: calc(100svh - 80px);
    padding: 40px 30px;
    margin-left: 76px;
    overflow: auto;
    gap: 30px;
}

.right-header-section > div > label {
    display: block;
    margin-top: 5px;
}

.right-header-section img {
    transform: rotateZ(0deg);
}

.button-section > form {
    height: 35px;
    width: 35px;
    margin-left: 5px;
}

.button-section button {
    background-color: #059862;
    height: 35px;
    width: 35px;
    border: none;
    border-radius: 5px;
}

.button-section img {
    height: 100%;
}


.number-input {
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 5px;
    display: grid;
    text-align: center;
    font-family: Poppins-medium, serif;
}

.number-input::placeholder {
    font-family: Poppins-light, serif;
    font-size: 1.2rem;
    position: relative;
    left: 9px;
    top: 2px;
}

.header-card input {
    background-color: transparent;
    border: 1px solid #444;
    border-radius: 5px;
    color: #fff;
    padding: 5px 10px;
}